
nav{
    background-color:var(--theme);
    display: flex;
    color:whitesmoke;
    padding:10px;
    width: 100vw;
    justify-content: space-between
}
nav ul{
    display: flex; 
}
nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    margin-left: 10px;
    text-align: center;
    
}
nav li :hover{
    border-bottom:3px solid #FEF5EF ;
    transition: all 0.2s ease-out;

}
